/*Footer*/
footer {
  cursor: default;
  padding: 70px 15px;
  background-color: #232323;
  font-family: "Poppins", sans-serif;
}

footer .logo {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 28px;
  color: #fcfcfc;
  font-weight: 700;
}

footer .text-footer {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding-top: 1rem;
  color: #999999;
}

footer .social {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 15px;
}

.footerSocial {
  display: flex;
  justify-content: center;
}

.iconFooter {
  color: white;
  font-size: 32px;
  margin: 0 1.5rem;
}

.iconFooter:hover {
  color: #757575 !important;
}

footer .social a {
  color: #999999;
  text-decoration: none;
  display: inline-block;
  margin: 0px 12px;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer .social a:hover {
  color: #fcfcfc;
}

.copyright {
  cursor: default;
  background-color: #232323;
  border-top: 1px solid #373a3e;
  padding: 15px;
}

.copyright p {
  color: #838383;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}

@media only screen and (max-width: 795px) {
  .contact-us .contact-form {
    padding: 38px 20px;
  }

  .contact-us .contact-form .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .copyright {
    padding: 15px 15px 87px 15px;
  }
}
