@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  background-color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

i {
  width: 32px;
  height: 32px;
}

i:before {
  font-size: 32px;
  color: black;
}

.bx:hover {
  text-decoration: 1px solid aqua;
}
