@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: none !important;
  text-decoration: none !important;
}

body {
  background-color: rgb(205, 205, 205) !important;
}

li {
  list-style: none;
}

.icon {
  font-size: 27px;
  color: black;
}

.title {
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid rgba(170, 170, 170, 0.781);
  font-weight: 600;
}
