/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  height: 100vh !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper .bxs-caret-right-circle,
.bxs-caret-left-circle {
  color: rgb(255, 255, 255);
  font-size: 32px;
}

.slide-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-img-1 {
  background-image: url("../Img/alejandro-escamilla-LNRyGwIJr5c-unsplash.jpg");
}

.slide-img-2 {
  background-image: url("../Img/alejandro-escamilla-Dl6jeyfihLk-unsplash.jpg");
}

.slide-img-3 {
  background-image: url("../Img/alejandro-escamilla-yC-Yzbqy7PY-unsplash.jpg");
}

.bx:hover {
  color: rgb(0, 0, 0) !important;
}

.swiper-text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-text .name {
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.frontend-developer {
  font-weight: 300;
  font-size: 13px;
}

.swiper-text .btn {
  font-family: "Poppins", sans-serif;
  color: #ffffff !important;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 30px;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  background-color: rgb(0, 0, 0 / 70%);
  backdrop-filter: saturate() blur(10px);
  box-shadow: 0px 0px 25px rgb(0 0 0 / 18%);
  border-radius: 18px;
  margin-top: 20px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.swiper-text .btn:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
*/

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.swiper {
  position: relative;
  width: 100%;
  height: 90%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100vh !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper__content {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 8px;
}

.swiper h6 {
  margin: 0;
}

.swiper .content__welcome {
  font-size: 16px;
}

.swiper .content__name {
  font-size: 55px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.swiper .content__dev {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper .bxs-caret-right-circle,
.bxs-caret-left-circle {
  color: rgb(255, 255, 255);
  font-size: 32px;
}

.swiper .content__contact {
  font-family: "Poppins", sans-serif;
  color: #ffffff !important;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 30px;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  background-color: #000000;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 18%);
  border-radius: 18px;
  transition: all 0.5s ease;
  margin: 16px auto;
}

.swiper .content__contact:hover {
  box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 75%);
  transform: scale(1.04);
}

.swiper .content__contact i {
  margin-left: 7px;
}

@media screen and (max-width: 720px) {
  .swiper .swiper__content {
    width: 75%;
    height: 60%;
  }
  .swiper .content {
    row-gap: 20px;
  }
  .swiper .content__contact {
    font-size: 14px;
    margin: 0;
  }
  .swiper .content__welcome {
    font-size: 16px;
  }
  .swiper .content__name {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
  .swiper .content__dev {
    font-weight: 300;
    font-size: 15px;
  }
  .swiper .bxs-caret-right-circle,
  .bxs-caret-left-circle {
    font-size: 25px;
  }
}
